NEXT_PUBLIC_STELLAR_NETWORK=mainnet
# Required: choose a production mainnet RPC provider.
NEXT_PUBLIC_STELLAR_RPC_URL=
CRON_SECRET=
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
NEXT_PUBLIC_OLIO_REGISTRY_ID=
NEXT_PUBLIC_OLIO_POOL_ID=
NEXT_PUBLIC_USDC_SAC_ID=CCW67TSZV3SSS2HXMBQ5JFGCKJNXKZM7UQUWUZPUTHXSTZLEO7SJMI75
NEXT_PUBLIC_USDC_ISSUER=GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN
NEXT_PUBLIC_POOL_DEPTH=20

NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
OLIO_WALLET_DEPLOYER_SECRET=
OLIO_ACCOUNT_WASM_HASH=
NEXT_PUBLIC_SEP24_ANCHOR_URL=https://mgxanchor.moneygram.com
NEXT_PUBLIC_SEP24_ASSET_CODE=USDC
NEXT_PUBLIC_SEP10_CLIENT_DOMAIN=
NEXT_PUBLIC_MONEYGRAM_RAMP_STATUS=whitelisting
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon.stellar.org
NEXT_PUBLIC_FRIENDBOT_URL=

SEP10_CLIENT_SIGNING_SECRET=

NEXT_PUBLIC_TRANSAK_API_KEY=
NEXT_PUBLIC_TRANSAK_ENV=PRODUCTION
NEXT_PUBLIC_TRANSAK_FIAT_CURRENCY=

MONGODB_URI=

CHANNELS_API_KEY=
CHANNELS_BASE_URL=https://channels.openzeppelin.com/


BRIDGE_SPONSOR_SECRET=
BRIDGE_FUNDING_XLM=2.5


NEXT_PUBLIC_CCTP_INTAKE_CONTRACT=
CCTP_OPERATOR_SECRET=
CIRCLE_IRIS_URL=https://iris-api.circle.com
CIRCLE_API_KEY=
NEXT_PUBLIC_CCTP_TOKEN_MESSENGER_MINTER=
NEXT_PUBLIC_CCTP_MESSAGE_TRANSMITTER=
NEXT_PUBLIC_CCTP_FORWARDER=

NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
